.sidebar-container {
    padding: 10px;
}

.panel {
    padding: 5px;
}

.delete-dot {
    float: right;
}

.save-btn {
    padding: 10px;
}


.branch-row {
    display: flex;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 3px;
}

.branch-delete {
    flex-grow: 1;
}

.branch-range {
    flex-grow: 4;
}

.range-input {
    max-width: 100%;
}

.rule-ui {
    display: flex;
}

.rule-drawing {
    flex-grow: 10;
    flex-basis: 0;
}

.sidebar-supercontainer {
	width: 20%;
    flex-grow: 4;
    flex-basis: 0;
}

.default-box {
    border-color: lightgreen;
    border-width: 2px;
}

/*For graphics*/

.container {
    width: 20%;
    height: 700px;
    float: left;
    outline: #000000 solid 1px;
    background-color: #eeeeee;
    padding: 0px;
    top: 0px;
}
.hidden {
    display:none;
}
.full {
    fill: green;
}
.result {
    fill: orange;
}
.overlay {
    fill: none;
    pointer-events: all;
    outline: #00FF00 dotted 2px;
}
.dot {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.dot.result {
    fill: orange;
}
.dot.dragging {
    fill: lightskyblue;
    stroke: steelblue;
}
.dot.empty {
    fill: lightgrey;
    stroke: steelblue;
}
.dot.active {
    fill: gold;
    stroke: goldenrod;
}
<!-- 	.dot.active.dragging {
            fill: goldenrod;
            stroke: darkgoldenrod;
        } -->
		
.branch {
	stroke: black;
	stroke-width: 3;
}
.branch.empty {
	stroke: black;
	stroke-dasharray: 5,1;
}
.branch.incomplete {
	stroke: red;
	stroke-dasharray: 5,1;
}
.branch.focus {
	stroke: black;
	stroke-width: 5;
}
.branch.conflicted {
	stroke: red;
	stroke-width: 5;
}
.branch.default {
	stroke: lightgreen;
}
